{% if page.url starts_with "/page" %}
        <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 1025px)" href="../assets/css/desktop.css">
        <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" href="../assets/css/mobile.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.css">
        <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
        <script src="../assets/js/chat2/script1.js"></script>
        <link type="text/css" href="../assets/css/chat2.css" rel="stylesheet">
        <script src="../assets/js/chat3/script2.js"></script>
        <link type="text/css" href="../assets/css/chat3.css" rel="stylesheet">
        <script src="../assets/js/draw2/script3.js"></script>
        <link type="text/css" href="../assets/css/draw2.css" rel="stylesheet">
        <script src="../assets/js/iochat.js"></script>
        <script src="../assets/js/iochat-hack.js"></script>
        <link href="../assets/css/style.css" rel="stylesheet">
{% else %}
        <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 1025px)" href="assets/css/desktop.css">
        <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" href="assets/css/mobile.css">
        <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css">
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
        <script src="assets/js/chat2/script1.js"></script>
        <link type="text/css" href="assets/css/chat2.css" rel="stylesheet">
        <script src="assets/js/chat3/script2.js"></script>
        <link type="text/css" href="assets/css/chat3.css" rel="stylesheet">
        <script src="assets/js/draw2/script3.js"></script>
        <link type="text/css" href="assets/css/draw2.css" rel="stylesheet">
        <script src="assets/js/iochat.js"></script>
        <script src="assets/js/iochat-hack.js"></script>
        <link href="assets/css/style.css" rel="stylesheet">
{% endif %}
